@import "./custom-functions";
@import "./custom-variables";
@import "./custom-mixins";
@import "./burger-menu";
@import "./custom-styles";
@import "./custom-woocommerce";
// @import './bootstrap';

.info-image .images__wrap .info-image__img.right {
  transition-duration: 0.5s;
}

.burger {
  display: none;
}

.open {
  display: block;
}

@media (max-width: 767px) {
  .navbar-toggler {
    display: block;
  }

  #navbarTop {
    .row__top .right {
      display: block;

      a {
        display: none;
      }
    }
  }
}

@media (min-width: 767px) {
  .navbar-toggler {
    display: none;
  }
}

.single-product-class {
  margin-top: 170px;

  .in-stock {
    display: none;
  }

  .reset_variations {
    text-decoration: none;
    color: #32b1b6;

    &:hover {
      text-decoration: none;
    }
  }

  .added_to_cart {
    position: absolute;
    top: -100px;
    width: 200%;
    left: -100%;
    text-align: center;
    background-color: #a5e8de;
    color: black;
    padding: 10px;
    color: #32b1b6;
  }

  .yith-wcwl-icon {
    color: #daa070;
    //position: absolute;
    //top: 5px;
  }

  .yith-wcwl-wishlistexistsbrowse {
    //font-size: 18px !important;
    //margin-top: 40px !important;
    a {
      color: #32b1b6;
    }
  }

  .fa-expand {
    display: none;
  }

  .yith-wcwl-add-button {
    //display: none;

    span {
      display: none;
    }
  }

  .woocommerce-variation-add-to-cart {
    width: 390px;
  }

  .images {
    div:nth-child(1) {
      width: 70%;
      margin: auto;
    }

    #wpgis-gallery {
      margin-top: 30px;
    }
  }

  .woocommerce-variation-add-to-cart {
    display: flex;

    .quantity {
      width: 30%;

      input {
        height: 49px;
        text-align: center;
        border: 1px solid #ecebea;
        border-left: none;
      }

      .minus {
        margin-right: -7px;
        border: 1px solid #ecebea;
        border-right: none;
        background-color: white;
      }

      .plus {
        margin-left: -7px;
        background-color: white;
        border: 1px solid #ecebea;
        border-left: none;
      }
    }

    button {
      font-size: 18px;
      background-color: #6a5d6b;
      padding: 9px 18px;
      color: white;
      margin-left: 36px;
      border: none;
      width: 70%;
      transition: 0.5s;
      &:hover {
        background-color: white;
        color: #6a5d6b;
        border: 1px solid #6a5d6b;
      }
    }
  }

  .related {
    h3 {
      font-size: 4rem;
      font-family: "Kaushan Script", cursive;
      font-weight: 400;
      line-height: 1;
      text-transform: lowercase;
      margin-left: 130px;
      margin-bottom: 30px;
    }

    ul {
      display: flex;
      list-style: none;
      width: 100%;
      padding-left: 0px;
    }
  }
}

.site-main .summary {
  //margin-left: 50px;
  .product_meta {
    margin-top: -235px;
    margin-bottom: 155px;
    font-size: 4rem;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    line-height: 1;
    text-transform: lowercase;

    a {
      color: #32b1b6;

      //margin-left: 40px;
      &:after {
        width: 65%;
        height: 1px;
        background-color: #32b1b6;
        display: block;
        content: "";
        //position: absolute;
        right: 0px;
        margin-top: -25px;
        margin-left: 260px;
      }
    }

    .sku_wrapper {
      display: none;
    }

    .posted_in {
      a {
        display: none;
      }

      a:nth-child(1) {
        display: block;
      }
    }
  }

  .product_title {
    font-size: 25px;
    margin-bottom: 30px;
    text-transform: uppercase;
    //margin-left: 30px;
  }

  .woocommerce-Price-amount {
    color: #32b1b6;
    font-size: 25px;
  }

  .wc-tabs {
    display: none;
  }

  .woocommerce-Tabs-panel {
    width: 80%;
  }

  .variations {
    margin-top: 30px;

    select {
      width: 390px;
      height: 50px;
      margin-top: 15px;
      margin-bottom: 15px;
      border-color: #ecebea;
      background-color: transparent;
      color: #32b1b6;

      .attached {
        color: #32b1b6;
      }
    }
  }
}

@media (max-width: 1200px) {
  .site-main .summary {
    .product_meta {
      margin-top: -229px;
      margin-bottom: 150px;
    }
  }
}

#primary {
  padding-top: 195px;
}

@media (max-width: 992px) {
  #primary {
    padding-top: 100px;

    .woocommerce-breadcrumb {
      width: 100%;
      margin-top: 135px;

      &:after {
        display: none;
      }
    }

    .single-product-class {
      margin-top: 100px;

      .images div:nth-child(1) {
        margin: 0px;
      }
    }

    .col-lg-6 {
      position: unset;

      .posted_in {
        position: absolute;
        top: 200px;
        right: 70px;

        a {
          &:after {
            display: none;
          }
        }
      }

      .product_meta {
        margin: 0px;
        margin-top: 30px;
      }

      .price {
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: 769px) {
  #primary {
    padding-top: 0px;

    .woocommerce-breadcrumb {
      margin-top: 50px;

      &:after {
        display: none;
      }
    }

    .single-product-class {
      margin-top: 50px;

      @media (max-width: 992px) {
        margin-top: 100px;
      }
    }

    .col-lg-6 {
      .posted_in {
        top: 86px;
      }
    }
  }
}

@media (max-width: 650px) {
  #primary {
    padding-top: 50px;

    .woocommerce-breadcrumb {
      display: none;
    }

    .col-lg-6 {
      .entry-summary {
        padding: 15px;
      }

      .posted_in {
        top: 140px;

        a {
          font-size: 40px;
          margin-right: -50px;
        }

        &:before {
          display: block;
          content: "";
          background-color: #32b1b6;
          margin-top: 100px;
          width: 400px;
          height: 1px;
          position: absolute;
          margin-left: -500px;
          top: -74px;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  #primary {
    .single-product-class {
      .images {
        div:nth-child(1) {
          width: 100%;
        }
      }

      .woocommerce-variation-add-to-cart {
        width: 100%;
      }

      .related h3 {
        margin-right: auto;
        margin-left: 0px;
        color: white;
        background-color: #373531;
        width: 80%;
        padding: 10px;
        font-size: 40px;
      }
    }

    .variations {
      width: 100%;
    }

    .site-main .summary .variations select {
      width: 100%;
    }

    .woocommerce-Tabs-panel {
      width: 100%;
    }

    .summary .variations select {
      margin: 8px 0px;
    }
  }
}

.woocommerce-breadcrumb {
  display: flex;
  color: #32b1b6;
  margin-top: 100px;
  width: 50%;
  font-size: 14px;

  a {
    color: #a5e8de;
  }

  &:after {
    width: 40%;
    height: 1px;
    background-color: #32b1b6;
    display: block;
    content: "";
    margin: auto;
  }
}

@media (max-width: 1200px) {
  .woocommerce-breadcrumb {
    &:after {
      width: 25%;
    }
  }
}

.navbar .row__top .middle .header__logo.big .logo__img {
  max-width: 200px;
}

.navbar #navbarTop {
  padding: 0.3rem 0rem;
}

//koszyk
.basic {
  bdi {
    font-size: 18px;
  }

  .breadcrumbs {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .breadcrumb_last {
    font-size: 4rem;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    line-height: 1;
    text-transform: lowercase;
  }

  .woocommerce-message {
    a {
      color: #32b1b6;
    }
  }

  .product-mobile {
    display: none;
  }

  .woocommerce {
    .shop-headers {
      tr {
        margin-bottom: 30px;

        th {
          font-size: 16px;
          color: #b0a9b0;
          font-weight: 400;
          text-transform: uppercase;
        }
      }
    }

    .woocommerce-cart-form {
      table {
        width: 95%;
        border-collapse: separate;
        border-spacing: 0 1em;
      }

      .coupon {
        label {
          display: none;
        }

        #coupon_code {
          border: 2px solid #b0a9b0;
          text-transform: lowercase;
          padding: 10px;
          font-size: 14px;
          margin-top: 30px;
        }

        .button {
          border: 2px solid #6a5d6b;
          background-color: #6a5d6b;
          text-transform: uppercase;
          font-size: 14px;
          margin-top: 30px;
          color: white;
          padding: 10px 50px;
          margin-left: 10px;
          float: none;
          transition: 0.5s;
          &:hover {
            background-color: white;
            color: #6a5d6b;
            border: 1px solid #6a5d6b;
          }
        }
      }

      .button {
        float: right;
        margin-top: -45px;
        background-color: #ecebea;
        border: 2px solid #ecebea;
        color: #6a5d6b;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 14px;
        padding: 10px 50px;
        transition: 0.5s;
        &:hover {
          color: white;
          background-color: #6a5d6b;
          border: 2px solid #6a5d6b;
        }
      }
    }

    .woocommerce-cart-form__cart-item {
      .product-thumbnail {
        img {
          max-width: 100px;
          height: 120px;
          max-height: 120px;
        }
      }

      .product-name {
        a {
          font-size: 18px;
          color: #373531;
          width: 80%;
          margin: auto;

          &:hover {
            text-decoration: none;
          }
        }
      }

      .product-price {
        bdi {
          margin-right: 15px;
        }
      }

      .product-quantity {
        width: 140px;

        input {
          border: none;
          background-color: transparent;
          text-align: center;
        }

        .plus {
          //margin-left: -42px;
        }
      }

      .product-subtotal {
        bdi {
          //font-size: 25px;
          font-size: 18px;
        }
      }

      .product-remove {
        img {
          background-color: transparent !important;
          max-width: 35px;
          width: 30px;
          margin-left: 10px;
        }
      }
    }

    .col-lg-4 {
      .cart-collaterals {
        .shop_table {
          background-color: #ecebea;
          width: 100%;

          tr {
            padding: 20px 30px 10px 30px;
          }
        }

        .cart_totals {
          h2 {
            font-size: 16px;
            color: #b0a9b0;
            font-weight: 400;
            text-transform: uppercase;
            height: 40px;
            margin-top: 22px;
          }

          .cart-subtotal,
          .cart-discount,
          .order-total,
          .woocommerce-shipping-totals {
            display: flex;
            flex-flow: column;

            th {
              font-size: 18px;
              color: #6a5d6b;
              text-transform: uppercase;
              font-weight: 400;
            }
          }

          .cart-discount {
            span {
              font-size: 18px;
            }

            .woocommerce-remove-coupon {
              //float: right;
              display: none;
            }
          }

          .order-total {
            padding-bottom: 20px;

            th {
              font-size: 22px;
            }

            bdi {
              font-size: 22px;
              font-weight: 400;
              color: #6a5d6b;
            }
          }
        }
      }
    }

    .wc-proceed-to-checkout {
      background-color: #6a5d6b;

      a {
        color: white;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        padding: 10px;
        text-transform: uppercase;
        border: 1px solid #6a5d6b;
        &:hover {
          background-color: white;
          color: #6a5d6b;
          border: 1px solid #6a5d6b;
        }
      }
    }
  }
}

@media (max-width: 1130px) {
  .basic .woocommerce .woocommerce-cart-form .button {
    float: unset;
    margin-top: 15px;
  }
}

@media (max-width: 992px) {
  .basic .woocommerce .woocommerce-cart-form .button {
    float: right;
    margin-top: -45px;
  }
}

@media (max-width: 767px) {
  .basic .woocommerce .woocommerce-cart-form .button {
    float: unset;
    margin-top: 15px;
    width: 100%;
    padding: 10px;
  }

  .woocommerce-cart-form__contents .coupon {
    display: flex;
    justify-content: space-between;
  }

  .basic .woocommerce .woocommerce-cart-form .coupon .button {
    width: 50%;
    padding: 10px;
  }

  .basic .woocommerce .woocommerce-cart-form .coupon #coupon_code {
    width: 50%;
    padding: 10px;
  }

  .basic .woocommerce .woocommerce-cart-form__cart-item .product-name a {
    font-size: 14px;
    width: 90%;
  }

  .basic .shop-headers thead {
    display: none;
  }

  .basic .product-mobile {
    display: block;
  }

  .basic .woocommerce .woocommerce-cart-form table {
    width: 100% !important;
    border-spacing: 0 2.5em !important;
  }

  .basic tbody .woocommerce-cart-form__cart-item {
    .product-name,
    .product-price,
    .product-quantity,
    .product-subtotal {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }

    .product-thumbnail {
      img {
        margin-right: 50px;
      }
    }

    .product-price {
      bdi {
        margin-right: 0px !important;
      }
    }

    .product-quantity {
      width: 100% !important;

      input {
        font-size: 14px !important;
      }

      .plus {
        padding-right: 0px !important;
      }
    }

    .product-name {
      text-align: left;
      padding-left: 0px !important;
      padding-top: 0px !important;

      a {
        margin-left: 0px !important;
      }
    }

    .product-remove {
      //position: absolute;
      //left: 5px;
      //margin-top: 20px;
      display: block;
      margin-top: 23px;
      margin-bottom: -40px;
      margin-right: auto;
      margin-left: -65%;
    }

    p {
      margin-bottom: 0px !important;
      font-size: 14px !important;
    }
  }

  .basic .woocommerce .col-lg-4 .cart-collaterals .cart_totals h2 {
    margin-bottom: 0px;
    padding: 0px 15px;
  }

  .col-lg-4 {
    padding: 0px;
  }

  .basic .woocommerce .col-lg-4 .cart-collaterals .shop_table tr {
    padding: 15px;
  }
}

//zamowienie page
.basic {
  bdi {
    font-size: 18px;
  }

  .content {
    .woocommerce-form-login {
      .form-row {
        display: flex;
        flex-flow: column;

        input {
          width: 25%;
          border: 1px solid #ecebea;
          height: 50px;
        }

        .woocommerce-form-login__rememberme {
        }

        .woocommerce-form__input-checkbox {
          height: unset;
          width: unset;
        }

        .woocommerce-form-login__submit {
          border: 2px solid #6a5d6b;
          background-color: #6a5d6b;
          text-transform: uppercase;
          font-size: 14px;
          color: white;
          padding: 10px 50px;
          float: none;
          width: 25%;
        }
      }

      .lost_password {
        a {
          color: black;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .checkout_coupon .button {
      border: 1px solid #6a5d6b;
      background-color: #6a5d6b;
      text-transform: uppercase;
      font-size: 14px;
      color: white;
      padding: 10px 50px;
      float: none;
      transition: 0.5s;
      &:hover {
        background-color: white;
        color: #6a5d6b;
        border: 1px solid #6a5d6b;
      }
    }

    .checkout_coupon .form-row-first {
      margin-bottom: 40px;
    }

    .woocommerce-info {
      display: flex;
      font-size: 18px;

      a {
        margin-left: 20px;
        color: #b0a9b0;
      }
    }

    .checkout {
      .first-section {
        h3 {
          color: #b0a9b0;
          font-size: 18px;
          text-transform: uppercase;
          margin-top: 60px;
        }

        .woocommerce-billing-fields__field-wrapper {
          display: flex;
          flex-flow: row wrap;

          input {
            border: 1px solid #ecebea;
            height: 50px;
          }

          label {
            text-transform: lowercase;
          }

          p {
            display: flex;
            flex-flow: column;
            width: 40%;
            margin-bottom: 30px;
          }

          #billing_first_name_field,
          #billing_last_name_field {
            width: 44%;

            input {
              width: 81%;
            }
          }

          #billing_company_field,
          #billing_country_field {
            width: 100%;

            input {
              width: 80%;
            }
          }

          #billing_country_field {
            .woocommerce-input-wrapper {
              width: 80%;
            }

            .select2-selection {
              height: 40px;
              padding: 5px;
            }

            .select2-selection__arrow {
              margin-top: 5px;
            }
          }

          #billing_address_1_field,
          #billing_address_2_field {
            width: 100%;

            input {
              width: 80%;
            }
          }

          #billing_postcode_field {
            width: 30%;
          }

          #billing_city_field {
            width: 50%;

            input {
              width: 100%;
            }
          }

          #billing_phone_field,
          #billing_email_field {
            width: 100%;

            input {
              width: 80%;
            }
          }
        }
      }

      .second-section {
        .woocommerce-form__label-for-checkbox {
          span {
            font-size: 18px;
            color: #b0a9b0;
            text-transform: uppercase;
          }
        }

        #order_comments_field {
          width: 100%;
          display: flex;
          flex-flow: column;

          textarea {
            width: 80%;
            height: 120px;
            border: 1px solid #ecebea;
          }
        }
      }

      #ship-to-different-address {
        //margin-top: -50px;
      }

      .second-section {
        .shipping_address {
          input {
            border: 1px solid #ecebea;
            height: 50px;
          }

          p {
            display: flex;
            flex-flow: column;
            margin-bottom: 30px;
          }

          .woocommerce-shipping-fields__field-wrapper {
            display: flex;
            flex-flow: row wrap;
          }

          #shipping_first_name_field,
          #shipping_last_name_field {
            width: 44%;

            input {
              width: 81%;
            }
          }

          #shipping_company_field,
          #shipping_address_1_field,
          #shipping_address_2_field {
            width: 100%;

            input {
              width: 80%;
            }
          }

          #shipping_country_field {
            width: 80%;
          }

          #shipping_postcode_field {
            width: 30%;
          }

          #shipping_city_field {
            width: 50%;

            input {
              width: 100%;
            }
          }

          .select2-selection--single {
            height: 40px;
            padding: 5px;
          }

          .select2-selection__rendered {
            color: #444;
            line-height: 28px;
          }

          .select2-selection__arrow {
            margin-top: 5px;
          }
        }
      }
    }

    .col-lg-6 {
      #order_review_heading {
        color: #b0a9b0;
        font-size: 18px;
        text-transform: uppercase;
        margin-top: -20px;
      }

      #payment {
        background-color: #ecebea;

        .wc_payment_methods {
          list-style: none;

          label {
            font-size: 18px;
          }
        }

        .payment_box p {
          margin-bottom: 20px;
        }
      }

      .payment_methods,
      .woocommerce-terms-and-conditions-wrapper {
        padding: 10px 30px 10px 30px;
      }

      .payment_box p {
        margin-left: 20px;
        color: #b0a9b0;
      }

      .woocommerce-terms-and-conditions-checkbox-text {
        color: #b0a9b0;
      }

      #place_order {
        color: white;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        padding: 10px;
        text-transform: uppercase;
        background-color: #6a5d6b;
        border: 1px solid #6a5d6b;
        width: 100%;
        transition: 0.5s;
        &:hover {
          background-color: white;
          color: #6a5d6b;
          border: 1px solid #6a5d6b;
        }
      }

      .woocommerce-privacy-policy-text p {
        margin-top: -10px;
        margin-bottom: 30px;

        a {
          color: #32b1b6;
          transition: 0.1s linear;

          &:hover {
            color: #d09a6c;
          }
        }
      }

      .woocommerce-checkout-review-order-table {
        background-color: #ecebea;
        width: 100%;

        .product-total,
        .cart-subtotal td,
        .cart-discount td,
        .order-total td {
          text-align: right;
        }

        .order-total th,
        .order-total td {
          font-size: 22px;
        }

        .order-total bdi {
          font-weight: 400;
        }

        .woocommerce-remove-coupon {
          display: none;
        }

        .cart-discount {
          font-size: 18px;
        }

        .woocommerce-shipping-totals {
          display: flex;
          flex-flow: column;

          th {
            padding-top: 0px;
            padding-left: 0px;
            padding-bottom: 10px;
          }

          td {
            padding-left: 0px;
            padding-top: 0px;
            font-size: 18px;
          }
        }

        thead,
        tbody,
        tfoot {
          tr,
          th {
            padding: 10px 30px;
          }

          td {
            padding: 5px 30px;
            font-size: 18px;
          }

          th {
            text-transform: uppercase;
            font-size: 18px;
            color: #6a5d6b;
            font-weight: 400;
          }
        }

        thead,
        tfoot {
          th,
          td {
            padding: 30px 30px 10px 30px;
          }

          td {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .basic .content .woocommerce-form-login .form-row input {
    width: 100%;
  }

  .login p {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  .basic
    .content
    .woocommerce-form-login
    .form-row
    .woocommerce-form-login__submit {
    width: 100%;
    font-size: 14px;
  }

  .basic .content .woocommerce-form-login label {
    font-size: 14px;
  }

  .woocommerce-info {
    font-size: 14px !important;
  }

  .basic .content .checkout .first-section h3 {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .woocommerce-billing-fields__field-wrapper {
    p {
      width: 100% !important;
    }

    input {
      width: 100% !important;
    }
  }

  .basic
    .content
    .checkout
    .first-section
    .woocommerce-billing-fields__field-wrapper
    #billing_country_field
    .woocommerce-input-wrapper {
    width: 100%;
  }

  .basic .content .checkout .second-section #order_comments_field textarea {
    width: 100%;
  }

  .basic
    .content
    .checkout
    .second-section
    .woocommerce-form__label-for-checkbox
    span {
    font-size: 14px;
  }

  .col-lg-6 {
    padding: 0px;
  }

  #customer_details,
  #order_review_heading {
    padding: 0px 15px;
  }

  .product-name {
    // padding: 10px 15px !important;
    // font-size: 14px !important;

    strong {
      font-size: 14px !important;
    }
  }

  .product-total {
    padding: 10px 15px !important;
  }

  .basic .content .col-lg-6 .woocommerce-checkout-review-order-table thead tr,
  .basic .content .col-lg-6 .woocommerce-checkout-review-order-table thead th,
  .basic .content .col-lg-6 .woocommerce-checkout-review-order-table tbody tr,
  .basic .content .col-lg-6 .woocommerce-checkout-review-order-table tbody th,
  .basic .content .col-lg-6 .woocommerce-checkout-review-order-table tfoot tr,
  .basic .content .col-lg-6 .woocommerce-checkout-review-order-table tfoot th {
    padding: 10px 15px !important;
  }

  .basic .content .col-lg-6 .woocommerce-checkout-review-order-table thead th,
  .basic .content .col-lg-6 .woocommerce-checkout-review-order-table thead td,
  .basic .content .col-lg-6 .woocommerce-checkout-review-order-table tfoot th,
  .basic .content .col-lg-6 .woocommerce-checkout-review-order-table tfoot td {
    padding: 10px 15px !important;
  }

  .basic
    .content
    .col-lg-6
    .woocommerce-checkout-review-order-table
    .woocommerce-shipping-totals
    th {
    padding-left: 0px !important;
  }

  #shipping_method {
    padding-left: 0px;
    list-style: none;

    li {
      font-size: 14px;
    }
  }

  .payment_methods {
    li {
      label {
        font-size: 14px !important;
      }
    }
  }
}

//podsumowanie page
.basic .social {
  display: none;
}

.breadcrumbs {
  width: unset;
  text-align: center;
}

.woocommerce-thankyou-order-received {
  background-color: #b0a9b0;
  text-align: center;
  padding: 15px;
  font-size: 25px;
  color: white;
}

.col-lg-5 {
  .woocommerce-order-overview {
    li {
      display: flex;
      flex-flow: column;
      margin-bottom: 30px;
      font-size: 18px;
      text-transform: uppercase;
      color: #b0a9b0;

      strong {
        margin-top: 15px;
        font-size: 18px;
        color: black;
        font-weight: 400;
        text-transform: none;
      }
    }
  }
}

.col-lg-7 {
  .woocommerce-order-details {
    padding: 0px;

    table {
      width: 80%;
      background-color: #ecebea;

      .product-total,
      .woocommerce-Price-amount {
        text-align: right;

        bdi {
          text-align: right;
        }
      }

      thead,
      tbody,
      tfoot {
        th,
        tr,
        td {
          padding: 10px 30px;
          font-size: 18px;
        }

        th {
          color: #6a5d6b;
          font-weight: 400;
          text-transform: uppercase;
        }

        td {
          a {
            color: black;

            &:hover {
              text-decoration: none;
            }
          }
        }

        tr:nth-child(2),
        tr:nth-child(5) {
          display: none;
        }

        .order_item {
          .woocommerce-table__product-name {
            display: flex;
            padding: 0px 30px;
          }

          .woocommerce-table__product-total {
            padding: 0px 30px;
          }
        }
      }

      tfoot {
        tr:nth-child(1) {
          display: none;
        }

        tr:nth-child(3) {
          th,
          td {
            padding-top: 30px;
          }

          td {
            text-align: right;
          }
        }

        tr:nth-child(4) {
          td {
            text-align: right;
          }
        }

        tr:nth-child(6) {
          td {
            text-align: right;
          }
        }
      }
    }
  }

  .woocommerce-order-details__title {
    font-size: 18px !important;
    color: #b0a9b0 !important;
  }
}

@media (max-width: 767px) {
  .order_details {
    padding-left: 15px;
  }

  .col-lg-5,
  .col-lg-7 {
    padding: 0px;
  }

  .col-lg-5 .woocommerce-order-overview li,
  .col-lg-5 .woocommerce-order-overview li strong,
  .col-lg-5 .woocommerce-order-overview bdi {
    font-size: 14px;
  }

  .col-lg-7 .woocommerce-order-details h2,
  .col-lg-7 .woocommerce-order-details td,
  th,
  tr,
  bdi {
    font-size: 14px !important;
  }

  .col-lg-7 .woocommerce-order-details table tfoot tr:nth-child(3) th {
    padding-top: 0px;
  }

  .col-lg-7 .woocommerce-order-details table thead th,
  .col-lg-7 .woocommerce-order-details table thead tr,
  .col-lg-7 .woocommerce-order-details table thead td,
  .col-lg-7 .woocommerce-order-details table tbody th,
  .col-lg-7 .woocommerce-order-details table tbody tr,
  .col-lg-7 .woocommerce-order-details table tbody td,
  .col-lg-7 .woocommerce-order-details table tfoot th,
  .col-lg-7 .woocommerce-order-details table tfoot tr,
  .col-lg-7 .woocommerce-order-details table tfoot td {
    padding: 10px 15px !important;
  }

  .col-lg-7 {
    .woocommerce-order-details__title {
      padding-left: 15px;
    }

    .woocommerce-order-details {
      table {
        width: 100%;
      }
    }
  }

  .woocommerce-thankyou-order-received {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 30px !important;
    font-size: 20px;
  }

  .basic .breadcrumb_last {
    font-size: 40px;

    &:before {
      display: block;
      content: "";
      background-color: #6a5d6b;
      height: 1px;
      width: 100%;
      margin-top: 10px;
      margin-bottom: -25px;
      margin-left: -65%;
    }
  }

  .basic .breadcrumbs {
    margin: 0px;
  }

  .basic #breadcrumbs {
    text-align: right;
  }
}

///////// logowanie
.logowanie {
  .row {
    justify-content: center;
  }

  input {
    width: 70% !important;
  }

  .woocommerce-form-login__submit {
    width: 70% !important;
  }

  .woocommerce-form__input-checkbox {
    width: unset !important;
  }

  .woocommerce-form-login__submit {
    margin-top: 10px !important;
  }

  .lost_password {
    margin-top: -30px !important;
    margin-bottom: 30px !important;
  }

  .col-lg-5 {
    h2 {
      font-size: 18px !important;
      color: #b0a9b0 !important;
      margin-bottom: 20px !important;
      margin-top: 20px !important;
    }

    label {
      font-size: 18px !important;
      font-weight: 400 !important;
      color: black !important;
    }
  }

  .woocommerce-form-register p {
    display: flex;
    flex-flow: column;

    input {
      border: 1px solid #ecebea;
      height: 50px;
      width: 70%;
    }
  }

  .woocommerce-privacy-policy-text {
    p {
      margin-bottom: 30px !important;
    }
  }

  .woocommerce-form-register__submit {
    border: 2px solid #6a5d6b;
    background-color: #6a5d6b;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    padding: 10px 50px;
    float: none;
  }

  .woocommerce-privacy-policy-text {
    a {
      color: black;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 769px) {
  .logowanie .col-lg-5 label {
    font-size: 14px !important;
  }

  .logowanie {
    .lost_password {
      margin-top: 0px !important;
      margin-bottom: 20px !important;
    }

    .form-row-wide {
      margin-top: 15px !important;
      margin-bottom: 15px !important;
    }

    .woocommerce-form-register__submit {
      width: 70% !important;
    }
  }
}

@media (max-width: 550px) {
  .logowanie {
    input {
      width: 100% !important;
    }

    .woocommerce-form-login__submit {
      width: 100% !important;
    }

    .woocommerce-form-register__submit {
      width: 100% !important;
    }
  }
}

//Moje Konto
.woocommerce-MyAccount-content {
  margin-top: 100px;
}

.woocommerce-MyAccount-navigation {
  ul {
    display: flex;
    list-style: none;
    padding-left: 0px;
    justify-content: space-between;
    flex-flow: row wrap;

    li {
      a {
        font-size: 16px;
        color: #b0a9b0;
        font-weight: 400;
        text-transform: uppercase;
        padding-right: 40px;
        padding-bottom: 8px;
      }
    }
  }
}

.woocommerce-MyAccount-content {
  .navigation-title {
    margin-bottom: 30px !important;
    margin-top: 30px;
  }

  .navigation-title {
    font-weight: 400 !important;

    strong {
      color: #32b1b6;
    }
  }

  .woocommerce-info {
    display: flex;
    flex-flow: row wrap;
  }

  .navigation-text {
    display: flex;
    flex-flow: row wrap;
    font-size: 18px;
    font-family: "Nunito", sans-serif;

    a {
      //padding-left: 8px;
      //padding-right: 8px;
      color: #32b1b6;
      font-weight: 400;
      margin-left: 5px;
    }
  }

  a {
    color: #32b1b6 !important;
    //margin-left: 0px !important;
    //margin-right: 7px !important;
  }

  .woocommerce-Button {
    //margin-left: 0px !important;
    //margin-right: 7px !important;
    //color: #32b1b6 !important;
  }

  .address {
    margin-top: 30px;
    margin-bottom: 60px;

    h3 {
      margin-bottom: 15px !important;
      text-transform: uppercase;
      color: #b0a9b0 !important;
    }

    a {
      color: #32b1b6 !important;
    }
  }
}

.form-edit {
  margin-top: 100px;
  display: flex;
  justify-content: center;

  p {
    display: flex;
    flex-flow: column;
    margin-bottom: 30px !important;
  }

  input {
    border: 1px solid #ecebea;
    height: 50px;
    width: 70%;
  }

  span {
    width: 70%;
    margin-top: 20px;
  }

  legend {
    font-size: 18px;
    color: #b0a9b0;
    font-weight: 400;
    text-transform: uppercase;
  }

  button {
    color: white !important;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    padding: 10px;
    text-transform: uppercase;
    background-color: #6a5d6b;
    width: 100%;
    width: 30%;
    margin: auto;
    margin-top: 50px;
    transition: 0.5s;
    &:hover {
      background-color: white;
      color: #6a5d6b !important;
    }
  }
}

.edit-address {
  margin-top: 100px;

  h3 {
    text-transform: uppercase;
    margin-bottom: 15px !important;
    text-transform: uppercase;
    color: #b0a9b0 !important;
  }

  input {
    width: 45% !important;
    border: 1px solid #ecebea;
    height: 50px;
  }

  .select2-container--default {
    width: 45% !important;
    height: 50px;
    border: 1px solid #ecebea;
  }

  .select2-selection--single {
    height: 50px !important;
    padding-top: 10px;
  }

  .select2-selection__arrow {
    top: 10px !important;
  }

  .woocommerce-address-fields__field-wrapper {
    p {
      display: flex;
      flex-flow: column;
      margin-bottom: 30px !important;
    }
  }

  button {
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    padding: 10px 50px;
    text-transform: uppercase;
    background-color: #6a5d6b;
    transition: 0.5s;
    &:hover {
      background-color: white;
      color: #6a5d6b;
    }
  }
}

@media (max-width: 767px) {
  .woocommerce-MyAccount-content .navigation-text {
    font-size: 16px;
  }

  .woocommerce-MyAccount-content {
    margin-top: 50px;
  }

  .edit-address .select2-container--default {
    width: 100% !important;
  }

  .form-edit {
    margin-top: 50px;
    padding: 0px 15px;

    input {
      width: 100%;
    }

    .col-lg-12 {
      padding-left: 0px;

      button {
        margin-top: 36px;
        width: 100%;
      }
    }
  }

  .edit-address {
    margin-top: 50px;

    input {
      width: 100% !important;
    }

    .button {
      margin-top: 36px;
      width: 100%;
    }
  }
}

@media (max-width: 567px) {
  .woocommerce-MyAccount-content .navigation-text {
    font-size: 14px;
  }
}

//z-index
body .select2-container,
body .ui-widget.ui-datepicker {
  z-index: 9 !important;
}

//navbar hamburger
@media (max-width: 767px) {
  .navbar .row__top .middle .header__logo.big .logo__img {
    max-width: 150px;
    margin-left: 15px;
    margin-top: 10px;
  }

  .navbar .row__top {
    justify-content: space-between;
  }
}

//Navbar Bottom Pasek
#navbarBottomBar {
  display: none;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #373531;
  z-index: 999;
  height: 92px;

  .nav-list-btm {
    display: flex;
    justify-content: space-between;
    width: 100%;

    div {
      margin-top: 15px;
      width: 20%;
      text-align: center;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  .btn__circle svg path {
    fill: white;
  }

  p {
    margin-top: 5px;
    font-weight: 400;
  }

  img,
  svg {
    max-width: 40px !important;
    max-height: 40px !important;
  }

  .atelier {
    color: #d09a6c;
  }

  .my-account {
    p {
      color: #32b1b6;
    }

    path {
      fill: #32b1b6 !important;
    }
  }
}

@media (max-width: 1024px) {
  #navbarBottomBar {
    display: block;
  }
}

.slider_second {
  text-align: right;
}

//Wyszukiwarka
.search-form {
  height: 54vh;
  padding-top: 100px;
  text-align: center;

  .dgwt-wcas-ico-magnifier {
    display: none;
  }

  h3 {
    font-size: 18px;
    color: #6a5d6b;
    margin-top: 45px;

    &:before {
      content: "";
      display: block;
      border-top: 1px solid #ecebea;
      width: 100%;
      height: 1px;
      margin-top: -15px;
      margin-bottom: 15px;
    }
  }

  #dgwt-wcas-search-input-1 {
    border: none;
    text-align: center;
    font-size: 40px;

    &::placeholder {
      color: #373531;
      font-weight: 400;
      font-style: normal;
    }
  }
}

@media (max-width: 767px) {
  .search-form {
    #dgwt-wcas-search-input-1 {
      font-size: 25px;
    }

    h3 {
      font-size: 14px;
    }
  }
}

.woocommerce-LoopProduct-link
  .product__img
  .yith-wcwl-add-to-wishlist
  .feedback
  .yith-wcwl-icon {
  margin-right: 0 !important;
  color: #daa070;
  font-size: 20px;
  margin-left: 5px;
  top: 0px;
  // position: absolute;
}

.price-container {
  display: flex;

  .price {
    margin-right: 20px;
  }

  .yith-wcwl-wishlistexistsbrowse {
    margin-top: -7px;
  }

  .yith-wcwl-add-button {
    margin-top: -7px !important;
  }
}

@media (max-width: 767px) {
  .price-container {
    display: flex;

    .yith-wcwl-icon {
      font-size: 12px;
    }

    .price {
      margin-right: 10px;
      margin-bottom: 15px !important;
      margin-top: -15px;

      bdi {
        font-size: 18px !important;
      }
    }

    .yith-wcwl-wishlistexistsbrowse {
      margin-top: -17px;
    }

    .yith-wcwl-add-button {
      margin-top: -17px !important;
    }
  }

  .entry-summary {
    padding: 0px 15px;
  }

  .social .social__title {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .social__part {
    padding-bottom: 36px;
  }
}

@media (max-width: 991px) {
  .info-image__content {
    max-width: 100%;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

.info-cards {
  padding-top: 0px;
}

.wc-backward {
  color: #4db3c9;
}

.wc-forward {
  color: #4db3c9;
}

@media (max-width: 992px) {
  .single-product-class .added_to_cart {
    position: absolute;
    top: unset;
    width: unset;
    left: unset;
    text-align: center;
    background-color: #a5e8de;
    padding: 10px;
    color: #32b1b6;
    margin-top: 66px;
    font-size: 12px;
    width: calc(100% - 30px);
  }
}

.product__card .product__img .yith-wcwl-add-to-wishlist .feedback,
.woocommerce-LoopProduct-link
  .product__img
  .yith-wcwl-add-to-wishlist
  .feedback {
  color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

//output masseagess single product

.single-product-class {
  .woocommerce-notices-wrapper {
    .woocommerce-error {
      list-style: none;
      padding-left: 0px;
      margin-top: 30px;
      li {
        margin-bottom: 10px;
        color: red;
      }
      a {
        display: none;
      }
    }
  }
}

.new__products {
  .container {
    .section__title {
      margin-left: 250px;
    }
  }
}

@media (max-width: 1024px) {
  .new__products {
    .container {
      .section__title {
        margin-left: 0px;
      }
    }
  }
}

//Poprawki

.reset_variations {
  display: none !important;
}

.single-product-class .woocommerce-variation-add-to-cart {
  position: relative;
}

.single-product-class .added_to_cart {
  position: absolute;
  text-align: center;
  background-color: #a5e8de;
  color: black;
  padding: 10px;
  color: #32b1b6;
  margin-top: 80px;
  font-size: 16px;
  top: unset;
  left: unset;
  width: unset;
}

.cart-number {
  color: white;
  font-size: 12px;
  position: absolute;
  margin-left: -15px;
  background-color: #daa070;
  text-align: center;
  border-radius: 50%;
  padding: 0px 5px;
}

#shipping_method {
  list-style: none;
  padding-left: 0px;
  li {
    label {
      margin-left: 10px;
    }
  }
}

.woocommerce-MyAccount-content .navigation-text a {
  margin-left: 5px;
  margin-right: 5px;
}

.woocommerce-MyAccount-content .navigation-text a:last-child {
  margin-right: 0px;
}

.basic .woocommerce-MyAccount-content .woocommerce-Button {
  margin-left: 0px !important;
  margin-right: 5px;
}

.account-orders-table {
  width: 100%;
}
